{% extends "layouts/default.html" %}
{% load static %}
{% block body %}
<section class="page-section bg-secondary result h-100">
    <div class="container ">
        <div class="row text-center justify-content-center">
            <div class="col-auto">
                <h1 class="text-white bg-moules rounded shadow p-1"><strong>Mention légale</strong></h1>    
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6">
                <p>Nom:</p>
            </div>
            <div class="col-lg-6">
                <p>SIMONIN</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Prénom:</p>
            </div>
            <div class="col-lg-6">
                <p>Cyril</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Adresse:</p>
            </div>
            <div class="col-lg-6">
                <p>16 rue des charpentier 45150 Jargeau</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Téléphone:</p>
            </div>
            <div class="col-lg-6">
                <p>06 45 71 46 71</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Coordonnées de l'hebergeur:</p>
            </div>
            <div class="col-lg-6">
                <p>Heroku </br>
                50 Fremont St.</br>
                Suite 300</br>
                San Francisco, CA</br>
                94105</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Template utilisé: </p>
            </div>
            <div class="col-lg-6">
                <a href="https://blackrockdigital.github.io/startbootstrap-creative/" class="btn btn-primary">startbootstrap-creative</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p>Chartes graphique utilisé:</p>
            </div>
            <div class="col-lg-6">
                <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide" class="btn btn-primary mb-2">Photos, icone, couleur</a></br>
                <a href="https://fontawesome.com/icons" class="btn btn-primary">Icones des menus</a>
            </div>
        </div>
    </div>
</section>
{% endblock body %}