{% extends 'layouts/default.html' %}
{% load static %}
{% block body %}
<header class="masthead border border-dark">
    <section id="product">
        <div class="container-fluid product my-auto"
            style='background: linear-gradient(to bottom, rgba(122, 97, 78, 0.1) 0%, rgba(226, 200, 181, 0.4) 50%), url({{product.photo}}) no-repeat center;'>
            <div class="row h-100 mb-3 align-items-center justify-content-center text-center">
                <div class="row no-gutters product-picture">
                    <div>
                        <h2 class="text-uppercase font-weight-bold maintitle">Résultat de la recherche pour :</h2>
                        <br>
                        <img class="nutri"
                            src="{% get_static_prefix %}images/nutriscore/Nutri-score-{{ product.nutriscore }}.svg"
                            style="width: 20%;"></img>
                        <br>
                        <div>
                            <div class="img">
                                <img src="{{product.photo}}" style="visibility: hidden;" />
                                <img src="{% get_static_prefix %}images/nutriscore/Nutri-score-{{ product.nutriscore }}.svg"
                                    style="visibility: hidden;"></img>
                            </div>
                        </div>

                        <br>
                        <h3>{{product.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>

<section id="product" class="bg-primary">
    <div class="container-fluid p-4 mb-4">
        <div class="row align-items-center justify-content-center text-center">
            <h2>Vous pouvez remplacez cet aliment par :</h2>
        </div>
        <br>
        <div class="row no-gutters">
            {% for substitute in substitutes %}
            <div class="col-lg-4 col-sm-6 product-picture">
                <a class="portfolio-box substitute_{{substitute.name|cut:' '}}"
                    href="{% url 'substitute:detail' product_id=product.id substitute_id=substitute.id %}">
                    <img class="img-responsive rounded product-image-size-max" src="{{substitute.photo}}"
                        alt="Erreur" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">{{substitute.category_id}}</div>
                        <div class="project-name">{{substitute.name}}</div>
                    </div>
                    <div class="img position-absolute" style=" top: -2rem; right: -2.5rem; max-width: 6rem;">
                        <img class="nutri"
                            src="{% get_static_prefix %}images/nutriscore/Nutri-score-{{ substitute.nutriscore }}.svg"
                            style="height: auto; width: 100%;"></img>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row no-gutters product-picture mb-5">
            {% if substitutes.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if substitutes.has_previous %}
                <a class="pagination-action" href="?page=1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
                <a class="pagination-action" href="?page={{ substitutes.previous_page_number }}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% for num in substitutes.paginator.page_range %}
                {% if substitutes.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > substitutes.number|add:'-3' and num < substitutes.number|add:'3' %}
                <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}
                {% if substitutes.has_next %}
                <a class="pagination-action" href="?page={{ substitutes.next_page_number }}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ substitutes.paginator.num_pages }}">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>1
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}