{% extends 'layouts/default.html' %}
{% load static %}
{% block body %}
<header class="masthead border border-dark">
    <div class="col-lg-4 col-sm-6 mb-3">
        <div class="justify-content-center text-center">
            <div class="product_img w-100">
                <div class="project-category">{{product.category_id}}</div>
                <div class="project-name">{{product.name}}</div>
            </div>
            <br>
            <hr class="divider my-4">
            <br>
            <div>
                <img class="product_img w-100" src="{{product.photo}}" alt="Photo du produit"><img />
            </div>
            <br>
            <div class="img product_sample mx-auto">
                <img class="nutri"
                    src="{% get_static_prefix %}images/nutriscore/Nutri-score-{{ product.nutriscore }}.svg"
                    alt="Nutriscore">
                </img>
            </div>
        </div>
    </div>
</header>

<section id="product">
    <div class="container-fluid p-4 substitute">
        <div class="row align-items-center justify-content-center text-center">
            <h2>Vous pouvez remplacez cet aliment par :</h2>
        </div>
        <br>
        <div class="row no-gutters">
            {% for substitute in substitutes %}
            <div class="col-lg-4 col-sm-6 product-picture">
                <a class="portfolio-box substitute_{{substitute.name|cut:' '}}"
                    href="{% url 'substitute:detail' product_id=product.id substitute_id=substitute.id %}"
                    title="Détails du produit">
                    <img class="img-responsive rounded product-image-size-max" src="{{substitute.photo}}"
                        alt="Photo du produit" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">{{substitute.category_id}}</div>
                        <div class="project-name">{{substitute.name}}</div>
                    </div>
                    <div class="img position-absolute" style=" top: -2rem; right: -2.5rem; max-width: 6rem;">
                        <img class="nutri"
                            src="{% get_static_prefix %}images/nutriscore/Nutri-score-{{ substitute.nutriscore }}.svg"
                            style="height: auto; width: 100%;" alt="Nutriscore"></img>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="row no-gutters product-picture mb-5">
            {% if substitutes.paginator.num_pages > 1 %}
            <div class="pagination">
                {% if substitutes.has_previous %}
                <a class="pagination-action" href="?page=1" title="Page 1">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
                <a class="pagination-action" href="?page={{ substitutes.previous_page_number }}"
                    title="Page srécédente">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% for num in substitutes.paginator.page_range %}
                {% if substitutes.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > substitutes.number|add:'-3' and num < substitutes.number|add:'3' %}
                <a class="pagination-number" href="?page={{ num }}" title="Page N° {{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}
                {% if substitutes.has_next %}
                <a class="pagination-action" href="?page={{ substitutes.next_page_number }}" title="Page suivante">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?page={{ substitutes.paginator.num_pages }}">
                    <i class="fa fa-angle-double-right" aria-hidden="true" title="Dernière page"></i>
                </a>1
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}