 <!-- Footer-->

<div class="pt-1 pb-1 footer page-footer product_result" id="footer">
  <div class="container text-center text-md-left">
    <div class="links">
      <hr />
      <div class="text-center center-block align-middle">
        <a href="https://www.linkedin.com/in/aa061987/?originalSubdomain=fr"><i class="fa fa-linkedin fa-3x social social-link"></i></a>
        <a href="https://github.com/anselmia/P7.git"><i class="fa fa-github-square fa-3x social social-gh"></i></a>
      </div>
      <hr />
    </div>
  </div>
</div>