@media only screen and (min-width: 540px){
    .b-imagegrid .grid-2 .b-imagegrid__item, .b-imagegrid .grid-3 .b-imagegrid__item, .b-imagegrid .grid-4 .b-imagegrid__item {
        width: 50%;
    }
}

@media only screen and (min-width: 768px){
    .b-imagegrid .grid-2 .b-imagegrid__item {
        width: 50%;
        padding: 0 20px 20px;
    }
}

.b-imagegrid__item {
    width: 100%;
    flex: 0 0 auto;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 1.5em;
    padding: 0 10px 10px;
}

#de-la-ratatouille-aux-croissants ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;    
}

.foto{
    margin: 1.5rem;
    border: 1px solid #ddd;
    background-color: rgb(0, 0, 0);
    padding: 5px;
}

.bg-primary {
    background-color: #345A61 !important;
  }

#portfolio{
    display:table
}
