.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;  
  line-height: 40px;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
}

.search_icon {
  float: right;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: flex;
  margin: 0 auto;
  color: #dcfbb4;
  background-color: #e74c3c;
  border-radius: 50%;
  transition: all 0.3s;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0,0.1), inset 0 0 0 rgba(0,0,0,0.1);
  text-align: center;
}

#product .container-fluid, #product .container-sm, #product .container-md, #product .container-lg, #product .container-xl {
  max-width: 1920px;
}

#product .container-fluid .portfolio-box, #product .container-sm .portfolio-box, #product .container-md .portfolio-box, #product .container-lg .portfolio-box, #product .container-xl .portfolio-box {
  position: relative;
  display: block;
}

#product .container-fluid .portfolio-box .portfolio-box-caption, #product .container-sm .portfolio-box .portfolio-box-caption, #product .container-md .portfolio-box .portfolio-box-caption, #product .container-lg .portfolio-box .portfolio-box-caption, #product .container-xl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(244, 98, 58, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

#product .container-fluid .portfolio-box .portfolio-box-caption .project-category, #product .container-sm .portfolio-box .portfolio-box-caption .project-category, #product .container-md .portfolio-box .portfolio-box-caption .project-category, #product .container-lg .portfolio-box .portfolio-box-caption .project-category, #product .container-xl .portfolio-box .portfolio-box-caption .project-category {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
}

#product .container-fluid .portfolio-box .portfolio-box-caption .project-name, #product .container-sm .portfolio-box .portfolio-box-caption .project-name, #product .container-md .portfolio-box .portfolio-box-caption .project-name, #product .container-lg .portfolio-box .portfolio-box-caption .project-name, #product .container-xl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
}

#product .container-fluid .portfolio-box:hover .portfolio-box-caption, #product .container-sm .portfolio-box:hover .portfolio-box-caption, #product .container-md .portfolio-box:hover .portfolio-box-caption, #product .container-lg .portfolio-box:hover .portfolio-box-caption, #product .container-xl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
} 