{% extends 'layouts/default.html' %}
{% load static %}

{% block body %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">                
                <h5 class="card-title text-center">S'enregistrer</h5>
                <br>
                {% if error %}
                    <p><strong>Utilisateur/mot de passe incorect.</strong></p>
                {% endif %}
                
                <br>
                <form class="form-signin" method="POST" action="{% url 'account:register' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% if user.is_authenticated %}
                        Vous êtes connecté, {{ user.username }} !
                    {% else %}
                        <div class="form-label-group">                            
                            {{ form.user_name}}
                            <label>{{ form.user_name.label_tag}}</label>
                            {{ form.user_name.errors}}
                        </div>
                        <div class="form-label-group">                            
                            {{ form.email }}
                            <label>{{ form.email.label_tag }}</label>
                            {{ form.email.errors }}
                        </div>
                        <div class="form-label-group">                            
                            {{ form.password }}
                            <label>{{ form.password.label_tag }}</label>
                            {{ form.password.errors }}
                        </div>
                        <div class="form-label-group">                            
                            {{ form.password_repeat }}
                            <label>{{ form.password_repeat.label_tag }}</label>
                            {{ form.password_repeat.errors }}
                        </div>
                        <label>{{ form.robot }} Je ne suis pas un robot</label>
                        {{ form.robot.errors }}
                        <br>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">S'enregitrer</button>
                        <br>
                        <div>
                            <p>Déjà un compte ? <a href="{% url 'account:login' %}"><i class="fa fa-user" style="font-size:32px;color:orange"></i></a></p>                    
                        </div>
                    {% endif %}
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

{% endblock body %}