 <!-- Footer-->

 <div class="pt-1 pb-1 footer page-footer" id="footer">
   <div class="text-center text-md-center mt-2">
     <div class="links">
       <div class="row">
         <div class="col-4 my-auto"><a href="{% url 'home:mentions' %}" title="Mentions Légales">Mentions
             Légales</i></a></div>
         <div class="text-center center-block align-middle col-4 my-auto">
           <a href="https://www.linkedin.com/in/aa061987/?originalSubdomain=fr" title="Linkedin"><i
               class="fa fa-linkedin fa-3x social social-link"></i></a>
           <a href="https://github.com/anselmia/P7.git" title="Github"><i
               class="fa fa-github-square fa-3x social social-gh"></i></a>
         </div>
         <div class="col-4 my-auto"><a href="/#contact" title="contact">Nous Contacter</i></a></div>
       </div>
     </div>
   </div>
 </div>