  
  img {
    max-width: 100%; 
    max-height: 100%;
  }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content img {
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; 
  }

  .card.detail {
    background: #345A61;
    padding: 3em;
    line-height: 1.5em; 
    border-radius: 40px;
  }
  

.product_result .title{
  background-color: #345A61!important;
  color: white;
  border: 4px solid rgba(196,85,37,1);
  border-radius: 40px;
  padding: 10px;
  vertical-align: middle
}

.product_result .preview-pic img{
  border: 4px solid rgba(196,85,37,1);
}

.product_result .preview-pic{
  position: relative;
}

.product_result img.score{
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  width: 5rem;
}
@media (min-width: 1300px) {
  .product_result img.score{
    position: absolute;
    top: -1rem;
    right: 10px;
    width: 5rem;
  }
}
@media (max-width: 992px) {
  .product_result img.score{
    position: absolute;
    top: -1rem;
    right: 73px;
    width: 5rem;
  }
}
@media (max-width: 892px) {
  .product_result img.score{
    position: absolute;
    top: -0.8rem;
    right: 3rem;
    width: 5rem;
  }
}
@media (max-width: 768px) {
  .product_result img.score{
    position: absolute;
    top: -0.8rem;
    right: 174px;
    width: 5rem;
  }
}
@media (max-width: 664px) {
  .product_result img.score{
    position: absolute;
    top: -0.8rem;
    right: 124px;
    width: 5rem;
  }
}
@media (max-width: 580px) {
  .product_result img.score{
    position: absolute;
    top: -0.8rem;
    right: 90px;
    width: 5rem;
  }
}
@media (max-width: 510px) {
  .product_result img.score{
    position: absolute;
    top: -0.8rem;
    right: 51px;
    width: 5rem;
  }
}
.product_result .title-2{
  color: white;
  border-radius: 40px 40px 0 0;
  padding: 10px;
  vertical-align: middle
}
  
.product_result .card-footer{
  color: white;
  border-radius: 0 0 40px 40px;
  padding: 10px;
  vertical-align: middle
}

.product_result .active {
  background-color: #345A61!important;
  color: white;
  border: 4px solid rgba(196,85,37,1);
  border-radius: 40px;
  vertical-align: middle
}

.product_result .active .img{
  border-radius: 40px;
}

.product_result .row .wrapper{
  margin-bottom:  100px;
}

.product_result .active#pic-1{
  border:0;
}

.product_result .detail{
  background-color: #345A61!important;
  border: 4px solid rgba(196,85,37,1);
  border-radius: 40px;
  vertical-align: middle;
  padding:20px;
  margin-bottom: 100px;
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
  } 
}
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }

#pic-1{
  position: relative;
  border: 4px solid rgba(196,85,37,1);
  border-radius: 40px;
}

#pic-1 a{
  position:absolute;
  top:-17px;
  right: -27px;
  width:80px
}

.visit-site{
  display: block;
  text-align: center;
}

@media (min-width: 340px){
  .product_result p{
    font-size: 0.75rem;
  }
  .product_result .fa-user,.fa-save{
    font-size: 12px;
  }
  .product_result button,table {
    font-size: 0.6rem;
  }
}

@media (min-width: 576px){
  .product_result p{
    font-size: 1rem;
  }
  .product_result .fa-user,.fa-save{
    font-size: 14px;
  }
  .product_result button,table{
    font-size: 0.8rem;
  }
}

@media (min-width: 992px){
  .product_result p{
    font-size: 1.2rem;
  }
  .product_result .fa-user,.fa-save{
    font-size: 18px;
  }
  .product_result button,table {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px){
  .product_result p{
    font-size: 1.5rem;
  }
  .product_result .fa-user,.fa-save{
    font-size: 24px;
  }
}